body {
  font-size: 16px;
  color: #fff;
  background-color: #cff6f4;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #9400D3;
  border-radius: 0;
  border: 0;
}

#menu-categories-title{
  color: #000;
  margin-bottom: 2%;
}

.navbar-brand {
  padding-top: 20px;
 
}
.navbar-brand h1 { /* Restaurant name */
  font-family:  serif;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background: #8293ee;
}
#nav-list a span {
  font-size: 1.8em;
}




/* END HEADER */





/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 100%;
  height: 60%;
  align-items: center;
  margin: 0 auto 15px;
  background-color: #a1d7c9;
}
.category-tile span {
  position: relative;
  left:47%;
  right: 50%;
  width: 100%;
  text-align:center;
  font-weight: bold;
  margin-top: auto;

   color: #000;
  
}

.category-tile p {
  position: realative;
  width: 96%;
  align-items: center;
  font-size: 1em;
  line-height:1.4 ;
  margin:1% 2% 2% 2%;
  color:#000;
 
  
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}



/* END MENU CATEGORIES PAGE */


